# Gitbenchmark
.gitbenchmark/.env
.gitbenchmark/stacktrace.json
.gitbenchmark/app.log
.gitbenchmark/plugins

# virtualenv
venv/

# build
build/
dist/

# python
__pycache__/

# poetry
poetry.lock

# ruff
.ruff_cache/
